﻿
@media (min-width:600px){
    div.advertisement {
        float:left;
        width: 21%;
        position: relative;
        padding-bottom: 21%; /* = width for a 1:1 aspect ratio */
        margin:1.66%;
        background-color: #ffffff;
        border: 1pt solid #DDDDDD;
    }
}
@media (max-width:599px) {
    div.advertisement {
        float:left;
        width: 30%;
        position: relative;
        padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
        margin:1.66%;
        background-color: #ffffff;
        border: 1pt solid #DDDDDD;
    }
}
div.advertisement:hover {
    background-color: #F0F8FF;
    cursor: pointer;
}

div.advertisement .content {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

div.advertisement .content .title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

div.advertisement .content .publicationDate {
    width: 90%;
    border-top: 1pt solid #DDDDDD;
    position: absolute;
    padding-top: 5px;
    bottom: 10px;
}

div.advertisementDetails div.detail div.contentHeader{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

div.advertisementDetails div.detail div.contentBody {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1pt solid #DDDDDD;
}

div.advertisementDetails div.listDetails .item{
    display: flex;
    font-size: 1.1em;
}

div.advertisementDetails div.listDetails .item .contentHeader {
    font-weight: bold;
}

div.advertisementDetails div.listDetails .item .contentBody {
    margin-left: 10px;
}

div.advertisementDetails div.userComment .contentHeader {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1pt solid #DDDDDD;
    font-weight: bold;
    font-size: 1.1em;
}
div.advertisementDetails div.userComment .contentBody textarea {
    width: 100%;
    height: 100px;
}