﻿div.advertisements textarea {
    width: 50%;
    height: 75px;
    margin-bottom: 10px;
}

div.editAdvertisementForm textarea {
    width: 100%;
    height: 75px;
    resize: none;
}

div.advertisements div.list-group-item p.title {
    margin-bottom: 10px;
    font-size: 17px;
}

div.advertisements .advertisementDetails {
    display: none;
}

table {
    width: 100%;
}

table tr td{
    padding: 5px;
}

div.advertisement .content {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

div.advertisement .content .title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

div.advertisement .content .publicationDate {
    width: 90%;
    border-top: 1pt solid #DDDDDD;
    position: absolute;
    padding-top: 5px;
    bottom: 10px;
}

div.advertisementDetails div.detail div.contentHeader{
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}

div.advertisementDetails div.detail div.contentBody {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1pt solid #DDDDDD;
}

div.advertisementDetails div.listDetails .item{
    display: flex;
    font-size: 1em;
}

div.advertisementDetails div.listDetails .item .contentHeader {
    font-weight: bold;
}

div.advertisementDetails div.listDetails .item .contentBody {
    margin-left: 10px;
    margin-bottom: 10px;
}

div.advertisementDetails div.userComment .contentHeader {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1pt solid #DDDDDD;
    font-weight: bold;
    font-size: 1em;
}

div.applications .modal-dialog{
    width: 800px;
}
table.applications tr td {
    vertical-align: middle;
}

table.applications tr.accepted td {
    color: green;
}

table.applications tr.rejected td, table.applications tr.cancelled td {
    color: grey;
}
