﻿table.applications thead th{
    background-color: white;
    font-weight: bold;
    border-bottom: 2pt solid grey;
}

table.applications thead th, table.applications tbody tr td {
    height: 30px;
}

tr.applicationCancelled td {
    color: grey;
}
tr.applicationAccepted td {
    color: green;
}
tr.applicationRejected td {
    color: red;
}

/*.applications thead, .applications tbody, .applications tr, .applications td, .applications th {
  display: block;
}*/