﻿body {
    padding-bottom: 20px;
    background-color: #F3F5F6;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.navbar-fixed-top {
    position: unset;
}

.nav.navbar-nav 
{
    float: right;
    margin-right: 10px;
}

.alert-danger {
    min-width: 250px;
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    border-color: #dca7a7;
    color: #a94442;
}

.alert-success {
    min-width: 250px;
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    border-color: #b2dba1;
    color: #3c763d;
}

.tooltip {
    white-space: nowrap;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.form-control{
    height: auto !important;
}

.list-group-item-text.description {
    margin-bottom: 10px;
}

.list-group-item.list-group-item-action:hover {
    background-color: aliceblue;
    cursor: pointer;
}

textarea.no-resizable {
    resize: none;
}

div.bootstrap-dialog.success .modal-header {
    background: #00CC00;
    font-weight: bold;
}

div.bootstrap-dialog.info .modal-header {
    background: #0080FF;
    font-weight: bold;
}