﻿@{
    ViewData["Title"] = "My Applications";
}
@section Styles {
    <link rel="stylesheet" href="~/css/myApplications.css" type="text/css" />
}
@section scripts
{
    <script src="~/js/myApplications.js" asp-append-version="true"></script>
}
<table class="table table-striped applications">
    <thead>
        <tr>
            <th style="width: 10%;">#</th>
            <th style="width: 40%">Offer title</th>
            <th style="width: 20%">Date of application</th>
            <th style="width: 20%;">Status</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody style="max-height: 400px;">
    </tbody>
</table>
