﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("Styles", required: false)
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
        <script src="~/lib/bootbox/bootbox.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)
    </environment>
</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("My profile", "Profile", "Home", null, null)</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Advertisements<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Advertisements", "Index", "Advertisements", null, null)</li>
                        <li>@Html.ActionLink("My applications", "Index", "Applications", null, null)</li>
                        <li>@Html.ActionLink("My advertisements", "Manage", "Advertisements", null, new { @class = "manageAdvertisements" })</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">

                </li>
                <li>@Html.ActionLink("Log Out", "Logowanie", "Index", null, new { @class = "logoutButton" })</li>
                <li>@*@Html.ActionLink("Mój profil", "Profile", "Home", null, null)*@</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
