﻿@{
    ViewData["Title"] = "Advertisements";
}
@section Styles {
    <link rel="stylesheet" href="~/css/advertListPage.css" type="text/css" />
}
@section scripts
{
    <script src="~/js/advertListPage.js" asp-append-version="true"></script>
}
<div class="container">
    <h1>Advertisements</h1>
    <hr>
        <div class="row">
            <div class="list-group advertisements">
            </div>
        </div>
    </hr>
</div>
