﻿@{
    ViewData["Title"] = "Advertisements management";
}
@section Styles {
    <link rel="stylesheet"  href="~/css/advertPage.css" type="text/css" />
}
@section scripts
{
    <script src="~/js/manageAdvertisements.js" asp-append-version="true"></script>
}

<div class="container">
    <h1>My advertisements</h1>
    <hr>
    <div class="row">
        <div class="list-group advertisements">
        </div>
        <button type="button" class="btn btn-default addAdvertisement">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add advertisement
        </button>
    </div>
    </hr>
</div>