﻿@{
    ViewData["Title"] = "Your profile";
}
@section scripts
{
    <script src="~/js/editProfile.js" asp-append-version="true"></script>
}

<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-5">
            <h3>Personal info</h3>
            <form class="form-horizontal profile" role="form">
                <div class="form-group text-center">
                    <label class="col-lg-3 control-label">
                        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" />
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input required="true" class="form-control" value="" type="text" name="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Surname:</label>
                    <div class="col-lg-8">
                        <input required="true" class="form-control" value="" type="text" name="Surname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Company:</label>
                    <div class="col-lg-8">
                        <input required="true" class="form-control" value="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input required="true" disabled class="form-control" value="" type="text" name="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" name="save" value="Save Changes" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-7">
            <h3>Education</h3>
            <div class="list-group education">
            </div>
            <button type="button" class="btn btn-default addEducation">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add education
            </button>
            <h3>Work Experience</h3>
            <div class="list-group work-experience">
            </div>
            <button type="button" class="btn btn-default addExperience">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add experience
            </button>
        </div>
    </div>
</div>