﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/loginPage.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>@ViewBag.Email</li>
            <li>@Html.ActionLink("Rejestracja", "Rejestracja", "Index", null, null)</li>
            <li>@Html.ActionLink("Zaloguj", "Logowanie", "Index", null, null)</li>
        </ul>
</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
