﻿@{
    ViewData["Title"] = "Log In";
}

@section scripts
{
    <script src="~/js/login.js" asp-append-version="true"></script>
}
<div class="login">
    <div class="container custom-container">
        <div class="va-wrapper">
            <div class="view login-view container">
                <div class="box row">
                    <div class="email-password-area col-xs-12 large col-sm-12">
                        <div class="header">
                            <span>Log In</span>
                        </div>
                        <form method="post" role="form" class="login-form form-horizontal">

                            <div class="form-group group-login">
                                <label class="col-sm-4">
                                    Login lub email
                                </label>
                                <div class="col-sm-8">
                                    <input placeholder="Email" name="email" value="" class="form-control" required="true" type="text">
                                </div>
                            </div>
                            <div class="form-group group-password">
                                <label class="col-sm-4">
                                    Hasło
                                </label>
                                <div class="col-sm-8">
                                    <input placeholder="Password" name="password" value="" class="form-control" required="true" type="password">
                                </div>
                            </div>
                            <div>
                                <button type="button" class="login btn btn-login btn-sp-green">Zaloguj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>