﻿@{
    ViewData["Title"] = "Register";
}

@section scripts
{
    <script src="~/js/registration.js" asp-append-version="true"></script>
}

<div class="register">
    <div class="container custom-container">
        <div class="va-wrapper">
            <div class="view registration-view container">
                <div class="box row">
                    <div class="col-sm-12">
                        <div class="header">
                            <span>Create Account</span>
                        </div>
                        <form method="post" role="form" class="registration-form form-horizontal sp-form">
                            <div form-group="true" class="form-group group-email">
                                <label class="col-sm-4">Email</label>
                                <div class="col-sm-8">
                                    <input placeholder="Email" name="email" class="form-control" value="" required="true" type="email">
                                </div>
                            </div>
                            <div form-group="true" class="form-group group-password">
                                <label class="col-sm-4">Password</label>
                                <div class="col-sm-8">
                                    <input placeholder="Password" name="password" class="form-control" value="" required="true" type="password">
                                </div>
                            </div>
                            <button type="button" class="btn btn-register btn-sp-green">Create Account</button>
                        </form>
                    </div>
                </div>
                @Html.ActionLink("Back to Log In", "Logowanie", "Index", null, null, "", null, new { @class = "to-login" })
            </div>
        </div>
    </div>
</div>